<%= form_with(model: llm_model, class: "contents") do |form| %>
  <% if llm_model.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(llm_model.errors.count, "error") %> prohibited this llm_model from being saved:</h2>

      <ul class="list-disc ml-6">
        <% llm_model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": llm_model.errors[:name].none?, "border-red-400 focus:outline-red-600": llm_model.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ollama_name %>
    <div class="mt-1 text-sm text-gray-500">The model name in Ollama format (e.g. llama2:13b or mistral:7b)</div>
    <%= form.text_field :ollama_name, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": llm_model.errors[:ollama_name].none?, "border-red-400 focus:outline-red-600": llm_model.errors[:ollama_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :size %>
    <%= form.number_field :size, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": llm_model.errors[:size].none?, "border-red-400 focus:outline-red-600": llm_model.errors[:size].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, class: ["block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": llm_model.errors[:is_active].none?, "border-red-400 focus:outline-red-600": llm_model.errors[:is_active].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit llm_model.new_record? ? "Create LLM model" : "Update LLM model", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
