<div id="<%= dom_id llm_model %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= llm_model.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= llm_model.slug %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= llm_model.size %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Is active:</strong>
    <%= llm_model.is_active %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ollama name:</strong>
    <%= llm_model.ollama_name %>
  </p>
</div>
